.inner-content
	%h1.bg-title Sign In
	#login_messages
	#login_form
	= form_for(:session, url: sessions_path, remote: true) do |f|
		.top
			= f.label :email, class: 'hidden'
			= f.text_field :email, placeholder: 'Email'
		.bottom
			= f.label :password, class: 'hidden'
			= f.password_field :password, placeholder: 'Password'

		= f.submit 'Log In'