#artist-profile-form
	.spinner

	- @artist = current_artist
	= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
		= f.hidden_field :id, value: @artist.id

		#uploaded-photo
			%a.hover-link= image_tag @artist.artist_photo.url(:thumb)
			.drop-pic
				Click to Select or Drag Here
				= f.file_field :artist_photo, id: 'choose-pic'

	= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
		- @genre_tags = @artist.genre_tags.nil? ? [] : @artist.genre_tags
		= f.hidden_field :id, value: @artist.id

		= f.label :artist_name
		= f.text_field :artist_name

		= f.label :website
		= f.text_field :website

		= f.label :genre_tags, 'Your Genre Tags'
		= f.text_area :genre_tags, value: @genre_tags.join(','), id: 'artist-genre-tags'

		= f.label :biography
		= f.text_area :biography

	#unlink-media
		= render 'artists/unlink_accounts'

:javascript

	$(document).ajaxStart(function() {
		$('#artist-profile-form .spinner').show();
	});

	$(document).ajaxStop(function() {
		$('#artist-profile-form .spinner').hide();
	});

	$('#uploaded-photo a').click(function(e) {
		$('#choose-pic').click();
	});

	$('#choose-pic').live('change', function() {
		readURL(this);
		$(this).closest('form').submit();
	});

	$('#artist-profile-form form').children('input[type=text], textarea').typing({
		stop: function(event, $elem) {
			$('#artist-profile-form form').submit();
		},
		delay: 400
	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#uploaded-photo img').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$('#artist-genre-tags').tagsInput({
		'removeWithBackspace': false,
		'defaultText': 'Add genres Eg. "ambient, fusion rap, rock \'n roll"',
		'height': 'auto',
		'width': 'auto',
		'onAddTag': function() {
			console.log(this.id);
			$(this).parent('form').submit();
		},
		'onRemoveTag': function() {
			console.log($(this).parent('form'));
			$(this).parent('form').submit();
		}
	});
