#artist-profile-form
	- @artist = current_artist
	.name.form-block.single-input.section-wrapper
		= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
			.label Artist Name
			= f.text_field :artist_name, class: 'text-box'
			= f.hidden_field :id, value: @artist.id
			.clear
	
	.section-wrapper
		.section-divider

	.photo.form-block.section-wrapper
		= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
			= f.hidden_field :id, value: @artist.id
			.label Your Artist Photo
			.clear
			.sub-label This is how people will see you when they click on your artist name in the player.
			
			.photo-edit
				.content
				
					.upload-wrapper
						.preview{style: "background: url(#{@artist.artist_photo.url(:thumb)}) center no-repeat; background-size: 100%;"}
						= f.file_field :artist_photo, class: 'file-select overlay'

					.action-buttons

						.submit-wrapper
							.underlay
								%span browse
							= f.file_field :artist_photo, class: 'overlay'

						.submit-wrapper.disabled
							.underlay
								%span upload image
							= f.submit "upload image", class: 'overlay'
	.section-wrapper
		.section-divider
			
	.website.form-block.single-input.section-wrapper

		= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
			- @genre_tags = @artist.genre_tags.nil? ? [] : @artist.genre_tags
			= f.hidden_field :id, value: @artist.id

			.input-wrapper
				.label Website
				= f.text_field :website, class: 'text-box'
				.clear

			.input-wrapper
				.label Facebook
				= f.text_field :facebook_link, class: 'text-box'
				.clear

			.input-wrapper
				.label Twitter
				= f.text_field :twitter_link, class: 'text-box'
				.clear

			.section-divider.padded-divider

			.input-wrapper
				.sub-label{style:"padding-bottom: 10px;"} Add a link to your iTunes profile so fans can access your catalogue and buy tunes.
				.label iTunes
				= f.text_field :itunes_link, class: 'text-box'
				.clear
			= f.submit "", class: 'hidden'

			.section-divider.padded-divider

	.artist-tags.form-block.section-wrapper
		= form_for(@artist, remote: true, url: artist_profile_update_path) do |f|
			- @genre_tags = @artist.genre_tags.nil? ? [] : @artist.genre_tags
			= f.hidden_field :id, value: @artist.id

			.sub-label Include tags so fans can discover you, eg: "metal", "indie", "toronto", "experimental"
			.tag-form= f.text_area :genre_tags, value: @genre_tags.join(','), id: 'artist-genre-tags'

:javascript
	$(document).ajaxStart(function() {
		$('.modal#artist-profile .spinner').show();
	});

	$(document).ajaxStop(function() {
		$('.modal#artist-profile .spinner').hide();
	});

	$('#artist-profile-form form').find('input[type=text], textarea').blur(function() {
		$(this).closest('form').submit();
	});


	$('#artist-genre-tags').tagsInput({
		'defaultText': 'add more tags...',
		'height': '150px',
		'width': 'auto',
		'onAddTag': function() {
			console.log(this.id);
			$(this).closest('form').submit();
		},
		'onRemoveTag': function() {
			$(this).closest('form').submit();
		}
	});

	$('#artist-profile-form .photo-edit input[type="submit"]').click(function(e) {
		if($(this).closest('.submit-wrapper').hasClass('disabled')) {
			e.preventDefault();
		}
	});
	
	$('#artist-profile-form .photo-edit input[type="file"]').on('change', function() {
		readURL(this);
	});
	
	function readURL(input) {
		if(input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#artist-profile-form .photo-edit .preview').css('background-image', 'url(' + e.target.result + ')');
			}
			
			reader.readAsDataURL(input.files[0]);
			$('#artist-profile-form .photo-edit input[type="submit"]').closest('.submit-wrapper').removeClass('disabled');
		}
	
	}
