.container
	- @artist = Artist.find(artist_id)
	.wrapper
		.profile-picture{style: "background: url(#{@artist.artist_photo(:medium)}) center no-repeat; background-size: cover;"}
		
		.content
			.label= @artist.artist_name
			.sub-label 
				%span.prefix Joined at 
				%span.data= @artist.created_at.strftime("%b %d, %Y")
			.sub-label
				%span.prefix From 
				%span.data= @artist.city

		.artist-social
			- social_links = {'website' => {'link' => @artist.website, 'tagline' => 'visit our'}, 'facebook' => {'link' => @artist.facebook_link, 'tagline' => 'like us on'}, 'twitter' => {'link' => @artist.twitter_link, 'tagline' => 'follow us on'}}
			- social_links.keys.each do |key|
				- link = social_links[key]['link']
				- if !link.nil?
					.artist-link
						- tagline = social_links[key]['tagline']
						- link = /^http/.match(link) ? link : "http://#{link}"
						%span.prefix= tagline
						%span.artist-social-link= link_to key, link, target: '_blank'
						
		.anchor