.container
	- @artist = Artist.find(artist_id)
	.wrapper
		.profile-picture{style: "background: url(#{@artist.artist_photo(:medium)}) center no-repeat; background-size: cover;"}
		
		.content
			.label= @artist.artist_name
			.sub-label 
				%span.prefix Joined at 
				%span.data= @artist.created_at.strftime("%b %d, %Y")
			- if !@artist.city.nil? && @artist.city.size > 0
				.sub-label
					%span.prefix From 
					%span.data= @artist.city

		.artist-social
			- social_links = {'twitter' => {'link' => @artist.twitter_link, 'tagline' => 'follow us on'}, 'facebook' => {'link' => @artist.facebook_link, 'tagline' => 'like us on'}, 'website' => {'link' => @artist.website, 'tagline' => 'visit our'}}
			- has_social = @artist.website || @artist.facebook_link || @artist.twitter_link
			- has_itunes = @artist.itunes_link
			- if has_social
				.social-items
					.label visit artist at

					- social_links.keys.each do |key|
						- link = social_links[key]['link']
						- if !link.nil? && link.size > 0
							- link = /^http/.match(link) ? link : "http://#{link}"
							.artist-link.artist-social-icon{class: key}
								%a.filled-link{href: link, target: '_blank'}

			- if has_itunes
				.purchase-items
					- if !@artist.itunes_link.nil? && @artist.itunes_link.size > 0
						.itunes-logo
							- link = @artist.itunes_link
							- link = /^http/.match(link) ? link : "http://#{link}"
							- link += '?at=' + ENV['ITUNES_TOKEN']
							%a.filled-link{href: link, target: '_blank'}
			- if !has_social && !has_itunes
				.no-info No additional info