.signup-wrapper.user-location.user-registration
	.bg-title your profile

	- @user = current_user
	.add-city
		= form_for(@user, remote: true, url: add_city_path) do |f|
			= f.hidden_field :id, value: @user.id
			.form-inputs
				= f.text_field :city, placeholder: 'your city', class: 'user-city'
			.search-results

			- if !@user.uid
				.form-inputs.add-meta-tags
					.tags-intro
						.input-label Your Likes
						.input-sub-label Add as many as you wnat, but at least 3!
					= f.text_area :user_meta, value: '', class: "user-meta-tags"

			.form-submit-button= f.submit "submit"	

			
	.spinner

:javascript

	function searchAddress() {
		$(".user-location .spinner").show();
		$.ajax({
			url: '/search_cities',
			data: {address: $('.add-city .user-city').val()}
		}).success(function(data) {
			console.log(data);
			$(".user-location .spinner").hide();
			populateGeoResults(data);
		});
	}

	function populateGeoResults(data) {
		$(".add-city .search-results").empty();
		var keys = Object.keys(data);
		if(keys.length > 0) {
			for(i = 0; i < keys.length; i++) {
				var div = '<div class="result-item">';
				div += data[i].formatted_address;
				div += '</div>';
				div = $(div);
				$(".add-city .search-results").append(div);
				div.click(selectResult);
			}
		}
		else {
			if($('.add-city form .user-city').val() === '') $(".add-city .search-results").empty();
			else $(".add-city .search-results").append('<div class="result-item">Sorry no results found</div>');
		}

	}

	function selectResult() {
		$(".add-city .user-city").val($(this).html());
		$(".add-city .search-results").empty();
	}

	$('.add-city form .user-city').typing({
		stop: searchAddress,
		delay: 500
	});

	$('.signup-wrapper.user-location .user-meta-tags').tagsInput({
		'removeWithBackspace': true,
		'defaultText': "eg. 'ambient', 'indie', 'local'",
		'height': '135',
		'width': 'auto',
		placeholderColor: 'rgba(0,0,0,0.2)'
	});

	$('.add-city form').submit(function(e) {
		if($('.add-meta-tags .tag').length < 3 || $(".user-city").val() === '') {

			return false;
		}
		
	});

