#init-fb-meta.vertical-center
	.hide-form
		- @user = current_user
		= form_for(@user, remote: true, url: init_fb_meta_path) do |f|
			= f.hidden_field :id, value: @user.id

			= f.label :city, ""
			= f.text_field :city, placeholder: "Your City"
			= f.hidden_field :custom_city, value: false

			= f.label :fb_meta, "Your Likes"
			= f.text_field :fb_meta, placeholder: 'Eg. "ambient", "indie", "local"'

	Please wait, we're grabbing your musical likes from Facebook!
	%br
	This may take a few minutes so hang tight.
	#fb-meta-load
		.spinner
		
	:javascript		
		$('#init-fb-meta .hide-form form').submit();
		$('#fb-meta-load .spinner').show();
