- @invite = Invite.new
= form_for(@invite, remote: true, url: send_invite_url) do |f|
	= f.hidden_field :user_id, value: current_user.id
	= f.hidden_field :status, value: 'invited'

	.text-button.submit-invite
		= f.text_field :email, class: 'email-check text-box'
		
		.button
			= f.submit "send", class: 'overlay'
			%span send

:javascript
	$(document).ready(function() {
		attachEmailCheck($('#invite-form .email-check'));
		
		$(document).ajaxStart(function() {
			$('.modal#user-invites .spinner').show();
		});

		$(document).ajaxStop(function() {
			$('.modal#user-invites .spinner').hide();
		});
	});
