#preferences-panel
	= javascript_include_tag "jquery.tagsinput.min"

	%a#preferences-back BACK

	- @user = current_user
	- @prefs_list = @user.preferences.keys
	= form_for(@user, remote: true, url: update_prefs_path) do |f|
		= f.hidden_field :id, value: @user.id

		= f.label :city, ""
		= f.text_field :city, placeholder: "Your City"
		= f.hidden_field :custom_city, value: false

		= f.label :preferences, "Your Likes"
		= f.text_area :preferences, value: @prefs_list.join(', '), placeholder: 'Eg. "ambient", "indie", "local"', id: "genre-tags"

:javascript
	$('#genre-tags').tagsInput({
		'removeWithBackspace': false,
		'defaultText': 'Add genres Eg. "ambient, fusion rap, rock \'n roll"',
		'height': 'auto',
		'width': 'auto',
		'onAddTag': function() {
			console.log($(this).parent('form'));
			$(this).parent('form').submit();
		},
		'onRemoveTag': function() {
			console.log($(this).parent('form'));
			$(this).parent('form').submit();
		}
	});

	$('#preferences-back').click(function() {
		$('#settings-panel').show();
		$('#preferences-panel').remove();
	});


