= javascript_include_tag "youtube_iframe_api", "simple-slider.min", "sc_js_sdk"

#player-box
	.player
		#youtube
		#soundcloud
		.overlay

	#radio-controls
	
		.player-buttons
			.left
				.content
					#show-slider
					.volume-controls
						#volume-slider
					= link_to("report song", report_song_path(user_id: current_user.id, song_id: ''), remote: true, class: 'external-button', id: 'report-song')
				
			.primary
			
				.control-panel
					/%a#replay-song replay 
					.control.change-song#previous-song
						%a.skip-image.control-image#prev-image
					.control.change-state#play-pause
						%a.play-image.control-image
					.control.change-song#next-song
						%a.skip-image.control-image#next-image
					
				.current-content
					.currently-playing
						%span.song-title
							Glorious Coffee Medley
						%span.artist
							by Fearing The Hill
							
			.right
				.content
					%a.external-button who is this?
					%a.external-button comments
					%a.external-button like this song

		.seek-scrub
			.content
				#seek-tools
				#seek-slider
				.seek-val
					%span.current-time
						12:58
					%span.duration
						#{'/13:22'}
		
#radio-stations
	%a#user-meta Your Likes
	%a#random Random

#report-board

#artist-info

= render 'users/player_vars'
= render 'users/player_functions'

:javascript

	var ytPlayer;
	function onYouTubeIframeAPIReady() {
		ytPlayer = new YT.Player('youtube', {
			playerVars: {
				'rel': 0,
				'html5': 1,
				'controls': 0,
				'showinfo': 0
			},
			height: playerHeight,
			width: playerWidth,
			events: { 
				'onReady': function() {
					ytPlayerReady = true;
					setQuality(ytQuality);
				},
				'onPlaybackQualityChange': function() {
					console.log(ytPlayer.getPlaybackQuality());
				},
				'onStateChange': function(event) {
					console.log(event.data);
					if(event.data === 0) {
						clearInterval(scrubInterval);
						playNextSong();
					}
					else if(event.data === 1) {
						scrubInterval = setInterval(seekTracker, scrubDelay);
						if(ytPlayer.getPlaybackQuality !== ytQuality) {
							setQuality(ytQuality);
						}
					}
				},
				'onError': function(event) {
					if(/100|101|150/.test(event.data)) {
						playNextSong();
					}
				}
			}
		});
	}

	$(document).ready(function(){

		$('#report-song').click(function() {
			z = this.href.split(/song_id=|(?=&user_id)/);
			this.href = z[0] + 'song_id=' + z[z.length-1];
			if(!currentSong) {
				return false;
			}
			else {
				//console.log(this.href);
				y = this.href.split('song_id=');
				this.href = y[0] + 'song_id=' + currentSong['song_id'] + y[1];
				console.log(this.href)
				return true;
			}
		});

		$('#radio-stations a').click(function() {
			lastStation = currentStation
			if(lastStation !== this.id) {
				currentStation = this.id;
				console.log(currentSong);
				if(currentSong) {
					if(currentSong['upload_source'] === 'youtube') {
						ytPlayer.stopVideo();
					}
					else if(currentSong['upload_source'] === 'soundcloud') {
						scWidget.pause();
					}
					newSongsList();
				}
			}
		});

		$('#radio-controls #play-pause').click(function() {
			if(currentSong) {
				playPause();
			}
			else{
				newSongsList();
			}
		});

		$('#radio-controls #next-song').click(function() {
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.stopVideo();
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.pause();
				}
				playNextSong();
			}
		});

		$('#radio-controls #replay-song').click(function() {
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.seekTo(0).playVideo();
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.setPosition(0);
				}
			}
		});

		$('#radio-controls #previous-song').click(function() {
			if(currentSong && songHistory.length > 0){
				playLast = true;
				$('#radio-controls #next-song').click();
			}
		});

		$('#volume-slider').simpleSlider({
			theme: 'volume',
			highlight: true
		});
		$('#volume-slider').simpleSlider('setValue', 1);
		$('#volume-slider').bind('slider:changed', function(event, data) {
			volume = Math.floor(data['value'] * 100);
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.setVolume(volume);
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.setVolume(volume);
				}
			}
		});

		$('#seek-slider').simpleSlider({
			highlight: true
		});
		$('#seek-slider').simpleSlider('setValue', 0);
		$('#seek-slider').bind('slider:changed', function(event, data) {
			seekValue = data['value'];
		});

		$('#seek-tools').mouseup(function() {
			clearInterval(scrubInterval);
			console.log('initialize...');
			manualSeek(seekValue);
		});


		$('#radio-stations #user-meta').click();

	});

