.content-wrapper
	.radio-wrapper

		#sm-social-cta
			.copy-container
				.copy-box
					%span.large.justify share
					%span.small.justify soundmelon
				.copy-box
					%span.small.justify we're pretty
					%span.medium.justify awesome
			.links-container
				.sm-social-icon.facebook{onclick: "shareOnFacebook()", 'data-share-link' => "http://www.soundmelon.com", 'data-share-title' => 'SoundMelon Radio', 'data-share-caption' => ''}					
				.sm-social-icon.twitter
					%a.filled-link{href: "https://twitter.com/intent/tweet?text=SoundMelon&url=http://www.soundmelon.com"}


		#player-box
			.player
				#youtube
				#soundcloud{"data-app-id" => "#{ENV["SOUNDCLOUD_APP_ID"]}"}
				.overlay
					%a.song-link.filled-link{href: "#", target: '_blank', title: 'Opens a new tab'}

			#radio-controls
				.player-buttons
					.primary				
						
						/ 	.report-container
						/ 	= link_to("report song", report_song_path(user_id: current_user.id, song_id: ''), remote: true, class: 'external-button', id: 'report-song')
						/ 	.report-box
						/ 		#report-board
						/ 		.modal-tail
						.control-panel

							#user-song-ctas
								- if user_signed_in?
									.user-cta.hidden.favorites-link.favorite-icon= link_to('', add_favorite_path(song_id: ''), remote: true, class: 'add-to-favorites filled-link', id: "add-to-favorites")
								.user-cta.hidden.share-link.sprite.share-icon.white
									%a.filled-link#share-song{'data-song-path' => '', 'data-song-title' => ''}
									.hidden.share-link-content
										.clipboard-btn#clipboard-btn{'data-clipboard-text' => ''}
											COPY THIS LINK
											.clipboard-icon
										.social-sharing
											.icon-wrapper
												.social-icon.facebook-icon{'data-share-link' => "", 'data-share-title' => '', 'data-share-caption' => ''}
											.icon-wrapper
												.social-icon.twitter-icon
													%a.filled-link{href: ''}

							.volume-container
								.control.volume#volume.disable
									%a.volume-image.control-image
								.volume-controls
									#volume-slider
							.control.change-state#play-pause
								%a.play-image.control-image
							.control.next-song#next-song.disable
								%a.skip-image.control-image

							
						.current-content
							.currently-playing.first-load
								.title-container
									.song-title Press play to start!
									/ .favorites-link.favorite-icon.hidden= link_to('', add_favorite_path(song_id: ''), remote: true, class: 'add-to-favorites filled-link', id: "add-to-favorites")
								%span.artist
									
					.right
						.content
							- if user_signed_in?
								.playlist
									= link_to('#', id: 'station-panel-button', class: 'callout-action', "data-callout-id" => 'radio-stations', remote: true) do
										%span.static-label station: 
										%span.active-label
									= link_to('favourites', show_favorites_path, id: 'favorites-panel-button', class: 'callout-action', "data-callout-id" => 'favorites-panel', remote: true)
							.song
								= link_to('who is this', '#', id: 'get-artist-info', class: 'callout-action', "data-callout-id" => 'show-artist-profile')
								/= link_to('share song', artist_info_path(song_id: ''), id: 'shareSong-panel-button', remote: true)
								/= link_to('see discussion', artist_info_path(song_id: ''), id: 'discussion-panel-button', remote: true)


				.seek-scrub
					.content
						.media-seeker
							#seek-slider
							#overlay-mask
						.seek-val
							%span.current-time
								#{'--:--'}
							#{'/'}
							%span.duration
								#{'--:--'}
								
				
		/ #radio-stations
		/ 	%span.label Stations: 
		/ 	%a#user-meta.idle Your Likes
		/ 	%a#random.idle Random

		/ #favorites-box
		/ 	= link_to('Favorite', add_favorite_path(song_id: ''), remote: true, class: 'add-to-favorites')
			
	.callout-wrapper#callout-wrapper
		.spinner
		.callout#radio-stations= render 'users/radio_stations'
		.callout#show-artist-profile
		.callout#favorites-panel
		.anchor


:javascript
	var currentUserId = "#{user_signed_in? ? current_user.id : 'guest'}";
	console.log(currentUserId);
	RadioManager = new SMradioManager($('#soundcloud').attr('data-app-id'));

	//setup GA events
	$("#learn-more a").click(function() {
		ga('send', 'event', 'button', 'click', 'about-soundmelon');
	});
	$("#sign-in a").click(function() {
		ga('send', 'event', 'button', 'click', 'signin-signup');
	});
	$(".footer .menu a").click(function() {
		ga('send', 'event', 'button', 'click', $(this).attr("href"));
	});
	$("#radio-stations a").click(function() {
		ga('send', 'event', 'button', 'click', 'station-'+$(this).attr('id'));
	});
	$("#radio-controls .control-panel .control").click(function() {
		ga('send', 'event', 'button', 'click', 'radio-control-'+$(this).attr('id'));
	});
	$("#radio-controls .external-button").click(function() {
		ga('send', 'event', 'button', 'click', $(this).attr('id'));
	});

