.content-wrapper
	.radio-wrapper
		#player-box
			.player
				#youtube
				#soundcloud{"data-app-id" => "#{ENV["SOUNDCLOUD_APP_ID"]}"}
				.overlay
					%a.song-link.filled-link{href: "#", target: '_blank'}

			#radio-controls
			
				.player-buttons
					.left
						.content
							.volume-container
								#show-slider
								.volume-controls
									#volume-slider
							.report-container
								= link_to("report song", report_song_path(user_id: current_user.id, song_id: ''), remote: true, class: 'external-button', id: 'report-song')
								.report-box
									#report-board
									.modal-tail
						
					.primary
					
						.control-panel
							/%a#replay-song replay 
							.control.change-song#previous-song
								%a.prev-image.control-image
							.control.change-state#play-pause
								%a.play-image.control-image
							.control.change-song#next-song
								%a.skip-image.control-image
							
						.current-content
							.currently-playing
								%span.song-title
									Press Play to start!
								%span.artist
									#{'--------------------'}
									
					.right
						.content
							= link_to('who is this', artist_info_path(song_id: ''), class: 'external-button', id: 'get-artist-info', remote: true)

				.seek-scrub
					.content
						.media-seeker
							#seek-slider
							#overlay-mask
						.seek-val
							%span.current-time
								#{'--:--'}
							#{'/'}
							%span.duration
								#{'--:--'}
								
				
		#radio-stations
			%a#user-meta.idle Your Likes
			%a#random.idle Random
			
	.callout-wrapper
		.callout#show-artist-profile

:javascript
	var currentUserId = #{current_user.id};
	console.log(currentUserId);

