.content-wrapper
	.radio-wrapper

		#sm-social-cta
			.copy-container
				.copy-box
					%span.large.justify share
					%span.small.justify soundmelon
				.copy-box
					%span.small.justify we're pretty
					%span.medium.justify awesome
			.links-container
				.sm-social-icon.facebook{onclick: "shareOnFacebook()"}					
				.sm-social-icon.twitter
					%a.filled-link{href: "https://twitter.com/intent/tweet?text=SoundMelon&url=http://www.soundmelon.com"}


		#player-box
			.player
				#youtube
				#soundcloud{"data-app-id" => "#{ENV["SOUNDCLOUD_APP_ID"]}"}
				.overlay
					%a.song-link.filled-link{href: "#", target: '_blank', title: 'Opens a new tab'}

			#radio-controls
				.player-buttons
					.primary				
						
						/ 	.report-container
						/ 	= link_to("report song", report_song_path(user_id: current_user.id, song_id: ''), remote: true, class: 'external-button', id: 'report-song')
						/ 	.report-box
						/ 		#report-board
						/ 		.modal-tail
						.control-panel
							.volume-container
								.control.volume#volume.disable
									%a.volume-image.control-image
								.volume-controls
									#volume-slider
							.control.change-state#play-pause
								%a.play-image.control-image
							.control.next-song#next-song.disable
								%a.skip-image.control-image
							
						.current-content
							.currently-playing.first-load
								%span.song-title
									Press play to start!
								%span.artist
									
					.right
						.content
							.playlist
								= link_to('station:', artist_info_path(song_id: ''), id: 'station-panel-button', remote: true)
								= link_to('favourites', artist_info_path(song_id: ''), id: 'favoruites-panel-button', remote: true)
							.song
								= link_to('who is this', artist_info_path(song_id: ''), id: 'get-artist-info', remote: true)
								= link_to('share song', artist_info_path(song_id: ''), id: 'shareSong-panel-button', remote: true)
								= link_to('see discussion', artist_info_path(song_id: ''), id: 'discussion-panel-button', remote: true)


				.seek-scrub
					.content
						.media-seeker
							#seek-slider
							#overlay-mask
						.seek-val
							%span.current-time
								#{'--:--'}
							#{'/'}
							%span.duration
								#{'--:--'}
								
				
		#radio-stations
			%span.label Stations: 
			%a#user-meta.idle Your Likes
			%a#random.idle Random
			
	.callout-wrapper
		.spinner
		.callout#show-artist-profile
		.anchor

:javascript
	var currentUserId = #{current_user.id};
	console.log(currentUserId);
	RadioManager = new SMradioManager($('#soundcloud').attr('data-app-id'));

	//setup GA events
	$("#learn-more a").click(function() {
		ga('send', 'event', 'button', 'click', 'about-soundmelon');
	});
	$("#sign-in a").click(function() {
		ga('send', 'event', 'button', 'click', 'signin-signup');
	});
	$(".footer .menu a").click(function() {
		ga('send', 'event', 'button', 'click', $(this).attr("href"));
	});
	$("#radio-stations a").click(function() {
		ga('send', 'event', 'button', 'click', 'station-'+$(this).attr('id'));
	});
	$("#radio-controls .control-panel .control").click(function() {
		ga('send', 'event', 'button', 'click', 'radio-control-'+$(this).attr('id'));
	});
	$("#radio-controls .external-button").click(function() {
		ga('send', 'event', 'button', 'click', $(this).attr('id'));
	});

