= javascript_include_tag "youtube_iframe_api", "simple-slider.min", "sc_js_sdk"

#player-box
	.player
		#youtube
		#soundcloud
		.overlay

	#radio-controls
	
		.player-buttons
			.left
				.content
					.volume-container
						#show-slider
						.volume-controls
							#volume-slider
					.report-container
						= link_to("report song", report_song_path(user_id: current_user.id, song_id: ''), remote: true, class: 'external-button', id: 'report-song')
						.report-box
							#report-board
							.modal-tail
				
			.primary
			
				.control-panel
					/%a#replay-song replay 
					.control.change-song#previous-song
						%a.prev-image.control-image
					.control.change-state#play-pause
						%a.play-image.control-image
					.control.change-song#next-song
						%a.skip-image.control-image
					
				.current-content
					.currently-playing
						%span.song-title
							Glorious Coffee Medley
						%span.artist
							by Fearing The Hill
							
			.right
				.content
					%a.external-button who is this?
					%a.external-button comments
					%a.external-button like this song

		.seek-scrub
			.content
				.media-seeker
					#seek-tools
					#seek-slider
				.seek-val
					%span.current-time
						12:58
					%span.duration
						#{'/13:22'}
		
#radio-stations
	%a#user-meta.idle Your Likes
	%a#random.idle Random

#artist-info

= render 'users/player_vars'
= render 'users/player_functions'

:javascript

	var ytPlayer;
	function onYouTubeIframeAPIReady() {
		ytPlayer = new YT.Player('youtube', {
			playerVars: {
				'rel': 0,
				'html5': 1,
				'controls': 0,
				'showinfo': 0
			},
			height: playerHeight,
			width: playerWidth,
			events: { 
				'onReady': function() {
					ytPlayerReady = true;
					setQuality(ytQuality);
				},
				'onPlaybackQualityChange': function() {
					console.log(ytPlayer.getPlaybackQuality());
				},
				'onStateChange': function(event) {
					console.log(event.data);
					if(event.data === 0) {
						clearInterval(scrubInterval);
						playNextSong();
					}
					else if(event.data === 1) {
						scrubInterval = setInterval(seekTracker, scrubDelay);
						if(ytPlayer.getPlaybackQuality !== ytQuality) {
							setQuality(ytQuality);
						}
					}
				},
				'onError': function(event) {
					if(/100|101|150/.test(event.data)) {
						playNextSong();
					}
				}
			}
		});
	}

	$(document).ready(function(){
	

		$('#report-song').click(function() {
			z = this.href.split(/song_id=|(?=&user_id)/);
			this.href = z[0] + 'song_id=' + z[z.length-1];
			if(!currentSong) {
				return false;
			}
			else {
				//console.log(this.href);
				y = this.href.split('song_id=');
				this.href = y[0] + 'song_id=' + currentSong['song_id'] + y[1];
				console.log(this.href)
				return true;
			}
		});

		$('#radio-stations a').click(function() {
			lastStation = currentStation
			if(lastStation !== this.id) {
				$('#' + lastStation).toggleClass('idle streaming');
				currentStation = this.id;
				$('#' + currentStation).toggleClass('idle streaming');
				if(currentSong) {
					if(currentSong['upload_source'] === 'youtube') {
						ytPlayer.stopVideo();
					}
					else if(currentSong['upload_source'] === 'soundcloud') {
						scWidget.pause();
					}
					newSongsList();
				}
			}
		});

		$('#radio-controls #play-pause').click(function() {
			$(this).children('.control-image').toggleClass('play-image pause-image')
			if(currentSong) {
				playPause();
			}
			else{
				newSongsList();
			}
		});

		$('#radio-controls #next-song').click(function() {
			clearInterval(scrubInterval);
			$('#seek-slider').simpleSlider('setValue', 0);
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.stopVideo();
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.pause();
				}
				playNextSong();
			}
		});

		$('#radio-controls #replay-song').click(function() {
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.seekTo(0).playVideo();
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.setPosition(0);
				}
			}
		});

		$('#radio-controls #previous-song').click(function() {
			if(currentSong && songHistory.length > 0){
				playLast = true;
				$('#radio-controls #next-song').click();
			}
		});
		
		$('.volume-container #volume-slider').slider({
			orientation: 'vertical',
			range: 'min',
			change: function(event, ui) {
				volume = ui['value']
				if(currentSong) {
					if(currentSong['upload_source'] === 'youtube') {
						ytPlayer.setVolume(volume);
					}
					else if(currentSong['upload_source'] === 'soundcloud') {
						scWidget.setVolume(volume);
					}
				}
			}
		});
		
		$('.volume-container #volume-slider').slider('value', volume);
		
		$('.volume-container #show-slider').click(function() {
			$('.volume-controls').toggle();
		});

		$('#seek-slider').simpleSlider({
			highlight: true
		});
		$('#seek-slider').simpleSlider('setValue', 0);
		$('#seek-slider').bind('slider:changed', function(event, data) {
			seekValue = data['value'];
		});

		$('.media-seeker .slider').mouseup(function() {
			clearInterval(scrubInterval);
			console.log('initialize...');
			manualSeek(seekValue);
		});


		$('#radio-stations #user-meta').click();

	});

