.container

	.sidebar
		.wrapper
			.chain
			.anchor
	
	.main-content
	
		.header
			.section-wrapper
				.left
					.spinner.white-spinner
				.header-right
					.title settings
			
		
		.content
			.settings-panel
				.meta-form.form

					.form-header.form-block.section-wrapper
						.label Your Likes
						- if current_user.uid
							.sub-label Originally computed from your Facebook likes
							
					.tags-wrapper.form-block.section-wrapper
						.render-block
							- if current_user.uid
								= render 'users/fb_meta_form'
							- else
								= render 'users/user_meta_form'

						.sub-label= link_to "Reload FB likes (replaces all current likes)", reload_fb_meta_path(id: current_user.id), remote: true
						
				.account-form.form-block.form.section-wrapper
					- @user = current_user
					.form-header
						.label Delete Your Account
						.sub-label Click the button below to permenantly remove your account from SoudnMelon.
						
					.account-button.remove-button
						= link_to "remove account", user_remove_path(id: @user.id), data: {confirm: "Are you sure you want to delete your SoundMelon account?"}

					.section-divider

					.account-button
						= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to logout?"} 
					
:javascript
	$(document).ajaxStart(function() {
		$('.modal#user-edit .spinner').show();
	});

	$(document).ajaxStop(function() {
		$('.modal#user-edit .spinner').hide();
	});

	$('#user-edit .render-block .fb-meta-tags').tagsInput({
		'removeWithBackspace': true,
		'defaultText': 'Add your own...',
		'height': 'auto',
		'width': '285px',
		placeholderColor: 'rgba(255,255,255,0.4)',
		'onAddTag': function() {
			$(this).closest('form').submit();
		},
		'onRemoveTag': function() {
			$(this).closest('form').submit();
		}
	});

