#terms-page.signup-wrapper.user-registartion
	= render "users/terms_copy"
	- @user = current_user
	= form_for(@user, remote: true, url: accept_terms_path) do |f|
		= f.hidden_field :id, value: @user.id
		= f.hidden_field :terms, value: true
		.form-submit-button
			= f.submit "I ACCEPT"

		.form-options.center
			%span or
			= link_to "decline", user_remove_path(id: @user.id), data: {confirm: "Are you sure you want to delete your SoundMelon account?"}, class: 'exit-signup'

