#user_page
	%h1= current_user.first_name
	%h2= current_user.email

	#radio-container
		#radio-player
			= render "users/radio_player"
		#stations
			= render "users/stations"

	.modal#user-add
		#spinner
		#artist-media
			- if !current_user.is_artist?
				= render "users/add_media_account"
			- else
				= render template: "artists/show"
		= render 'artists/footer'

