- if !current_user.terms
	= render 'users/terms_cond'
-else
	#user_page
		%h1= current_user.first_name
		%h2= current_user.email

		#radio-container
			#radio-view
				= render "users/radio_player"
			#stations
				= render "users/stations"

		.modal#user-add
			.spinner
			#artist-media

		.modal#user-edit
			.spinner
			#user-settings
				= render "users/settings"
