/= current_user.inspect
- if user_signed_in?
	= render template: 'users/show'
- else
	.inner-content.vertical-center.splash-page
		.bg-title.rotating-caption Find Your Tune

		.left.col-1-2.signin-section
			/= new_user_registration_url(locals: params)
			.signin-forms
				.email-signup
					.form-title login or signup
					= render 'welcome/email_signin'
				.buttons
					.form-title or you can
					#sign-in
						= link_to('CONNECT WITH FACEBOOK', user_omniauth_authorize_path(:facebook), remote: true)
						.caveat
							%span.strong recommended
							%span We use Facebook FOR basic social connectivity, learning about your likes and THE CITY YOU’re In. we respect your privacy.

		.right.col-1-2.intro-section
			.intro-blurb
				%p.emphasis
					%span SoundMelon is a radio tuned to you, and it’s 
					%span.strong completely free 
					%span to use.

				%p By signing up, we learn about your likes and the city you’re in and we create a station of local artists you might be in to. It’s also all we use Facebook for, and we respect your privacy.

				%p 
					%span If you’re an artist, you can add songs in seconds using 
					%span.strong SoundCloud 
					%span or 
					%span.strong YouTube.


				.about-button= link_to('Learn more about SoundMelon', "http://about.soundmelon.com", target: '_blank')

		.clear


:javascript
	$('#fb-root').remove();
	$('body').prepend('<div id="fb-root"></div>');
	var splashBGtween;

	inviteToken = '#{@invite_token}'
	console.log(inviteToken);

	$.ajax({
		url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		dataType: 'script',
		cache: true
	});

	window.fbAsyncInit = function() {
		$('#sign-in').click(function(e) {
		  e.preventDefault();
		  FB.login(function(response) {
		  	if(response.status === "unknown") {

		  	}
				console.log(response);
		    if (response.authResponse) {
					$.ajax({
						url: '#{user_omniauth_callback_path(:facebook)}',
						data: {state: inviteToken}
					});
		    }
		  }, {scope: 'email,user_likes'});
		});

		FB.init({
		  appId: '#{ENV["FACEBOOK_APP_ID"]}',
			status: true,
		  cookie: true
		});
	};
	
	var mozillaFlashMsg = '<div class="flash-msg">soundmelon needs flashplayer to run in firefox so please install it!</div>';
	var isFlash = navigator.mimeTypes ["application/x-shockwave-flash"] !== undefined ? 'flash' : 'no-flash';
	if(($.browser['mozilla']) && isFlash === 'no-flash') {
		$('.inner-content .buttons').html(mozillaFlashMsg);
	}
	$('.inner-content .buttons').show();

	$(document).ready(function() {

		$(".splash-bg").css({
			'background-image': 'url("#{asset_path('splash-bgs/' + rand(1..6).to_s + '.jpg')}")'
		});
	});