- if signed_in?
	= render template: 'users/show'
- else
	.inner-content
		%h1.bg-title Find Your Tune
		.buttons
			#sign-in= link_to('CONNECT WITH FACEBOOK', "/auth/facebook", remote: true)

:javascript
	$('#fb-root').remove();
	$('body').prepend('<div id="fb-root"></div>');

	inviteToken = '#{@invite_token}'
	console.log(inviteToken);

	$.ajax({
		url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		dataType: 'script',
		cache: true
	});

	window.fbAsyncInit = function() {
		$('#sign-in').click(function(e) {
			console.log('#{ENV["FACEBOOK_APP_ID"]}');
		  e.preventDefault();
		  FB.login(function(response) {
		    if (response.authResponse) {
					$.ajax({
						url: '/auth/facebook/callback',
						data: {state: inviteToken}
					});
		    }
		  }, {scope: 'email,user_likes'});
		});

		FB.init({
		  appId: '#{ENV["FACEBOOK_APP_ID"]}',
			status: true,
		  cookie: true
		});
	};
	
	var mozillaFlashMsg = '<div class="flash-msg">soundmelon needs flashplayer to run in firefox so please install it!</div>';
	var isFlash = navigator.mimeTypes ["application/x-shockwave-flash"] !== undefined ? 'flash' : 'no-flash';
	if(($.browser['mozilla']) && isFlash === 'no-flash') {
		$('.inner-content .buttons #sign-in').html(mozillaFlashMsg);
	}
	$('.inner-content .buttons').show();