- if signed_in?
	= render template: 'users/show'
- else
	.inner-content.vertical-center
		.bg-title Find Your Tune
		.buttons
			.left
				#sign-in
					= link_to('CONNECT WITH FACEBOOK', "/auth/facebook", remote: true)
					.caveat
						for basic social connectivity, learning about your likes and what city you live in.
			.right
				.about-button= link_to('LEARN MORE', "http://about.soundmelon.com", target: '_blank')
			.clear
			.login-spinner.spinner

		.intro-blurb
			%p SoundMelon is a radio tuned to you. By connecting with Facebook, we learn about your likes and the city you’re in and we create a station of local artists you might be into. It’s all we use Facebook for, and we respect your privacy.

			%p If you’re an artist, you can add songs quickly and easily by signing up and connecting SoundCloud or YouTube.

			%p Best of all, SoundMelon is completely free to use.

		.rotating-caption
			Genuine Fans

:javascript
	$('#fb-root').remove();
	$('body').prepend('<div id="fb-root"></div>');
	var splashBGtween;

	inviteToken = '#{@invite_token}'
	console.log(inviteToken);

	$.ajax({
		url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		dataType: 'script',
		cache: true
	});

	window.fbAsyncInit = function() {
		$('#sign-in').click(function(e) {
			//console.log('#{ENV["FACEBOOK_APP_ID"]}');
			$(".bg-title").hide();
			$('#sign-in .login-spinner').show();
			$(".buttons").find('.left, .right').hide();
			$('.intro-blurb, .rotating-caption').hide();
		  e.preventDefault();
		  FB.login(function(response) {
		  	if(response.status === "unknown") {
		  		$('#sign-in .login-spinner').hide();
		  	}
				console.log(response);
				//
		    if (response.authResponse) {
					$('#sign-in a').hide();
					splashBGtween = TweenLite.to('.bg-wrapper', 1, {opacity: 1, delay: 0.5, ease:Sine.easeInOut});
					$.ajax({
						url: '/auth/facebook/callback',
						data: {state: inviteToken}
					});
		    }
		  }, {scope: 'email,user_likes'});
		});

		FB.init({
		  appId: '#{ENV["FACEBOOK_APP_ID"]}',
			status: true,
		  cookie: true
		});
	};
	
	var mozillaFlashMsg = '<div class="flash-msg">soundmelon needs flashplayer to run in firefox so please install it!</div>';
	var isFlash = navigator.mimeTypes ["application/x-shockwave-flash"] !== undefined ? 'flash' : 'no-flash';
	if(($.browser['mozilla']) && isFlash === 'no-flash') {
		$('.inner-content .buttons').html(mozillaFlashMsg);
	}
	$('.inner-content .buttons').show();

	$(document).ready(function() {
		console.log("#{asset_path('1.jpg')}");
		$(".splash-bg").css({
			'background-image': 'url("#{asset_path('splash-bgs/' + rand(1..6).to_s + '.jpg')}")'
		});
	});