:plain
	var messageFlash = #{@messages.to_json};
	if(messageFlash) {
		FlashManager.showMessage(messageFlash);
	}
	$('##{@song.song_id} .song-content .song-link').remove();
	$('##{@song.song_id} .song-content').append('#{j( link_to "", edit_song_path(@song.id), remote: true, class: "song-link edit" )}');
	$('##{@song.song_id} .song-content .song-link').append('<span class="div-link"></span>');
	
	var state = '#{@song.active ? "active" : "inactive"}'
	$('#available-uploads ##{@song.song_id} .song-information span.state').removeClass('active inactive').addClass(state);
	$('#available-uploads ##{@song.song_id} .song-information span.state').text(state);

	$(".song-form .song-state").append('#{j( render "songs/song_share_link", locals: {id: @song.id})}')