.main-content.song-view
	
	.header
		.left
			%span.go-back go back
		.right
			%span editing song
	
	.content

		.music-add-song
		
			- source_abbr = upload_source == 'youtube' ? 'yt' : 'sc'
			- song_duration = song_duration.to_f
			
			.song-basic
				.song-image{style: "background: url(#{song_image}) center no-repeat"}
					.brand-logo{class: 'source-' + source_abbr.downcase}
				.song-information
					%span.song-title= song_title
					%span.duration= to_minutes(song_duration)
				
			- @artist = current_artist
			- if song_private == true
				.private
					We can't stream private songs! Would you like to make this song public on #{upload_source}?
					= link_to "Make Public!", make_public_path(song_id: song_id, upload_source: upload_source, artist_id: @artist.id), remote: true, class: 'make-public', onclick: "$(this).siblings('.spinner').show()"
					.spinner

			.song-form
				- @song = Song.new
				- source_tags = source_tags.nil? ? [] : source_tags
				- on_state_class = @song.active ? 'toggle-select' : ''
				- off_state_class = @song.active ? '' : 'toggle-select'
				- state = on_state_class == '' ? 'INACTIVE' : 'ACTIVE'
				
				= form_for(@song, remote: true) do |f|
					
					
					.song-state
						
						.toggle-switch
							.toggle-state.on{class: on_state_class}
								%span on
							.toggle-state.off{class: off_state_class}
								%span off
							= f.hidden_field(:active, value: false, class: 'active-check')
							
						%span.state{class: state.downcase}= state
						
					= label(:source_tags, "Source Tags")
					.source-tags= f.text_field :source_tags, value: source_tags.join(', ')
					= link_to 'Refresh tags', get_source_tags_path(song_id: song_id, artist_id: current_artist.id, source: upload_source), remote: true

					- sm_tags = sm_tags.nil? ? [] : sm_tags
					= label(:sm_tags, "SM Tags")
					.sm-tags= f.text_field :sm_tags, value: sm_tags.join(', '), placeholder: "Add some genre tags for this song..."
					= f.hidden_field :artist_id, value: @artist.id
					= f.hidden_field :song_id, value: song_id
					= f.hidden_field :upload_source, value: upload_source
					= f.hidden_field :song_url, value: song_url
		
:javascript
	$('.go-back').click(function() {
		$('.modal#music-admin .main-content').show();
		$('.modal#music-admin .main-content.song-view').remove();
	});
	
	$('.song-state .toggle-switch').click(function() {
		$(this).children('.toggle-state').toggleClass('toggle-select');
		var state = $(this).children('.active-check')[0].checked;
		console.log(state);
		$(this).children('.active-check')[0].checked = !state;
		console.log($(this).children('.active-check')[0].checked);
	});
