#feedback-form
	= form_for(@report, url: feedback_send_path, remote: true, :validate => true) do |f|
	
		.top
			.label Select a type:

		.problem-list
			.problem-button.feedback-buttons.checked
				= f.radio_button :category, "bug", {checked: true, class: 'feedback-radio'}
				%span bug
			
			.problem-button.feedback-buttons
				= f.radio_button :category, "suggestion", class: 'feedback-radio'
				%span suggestion
				
			.problem-button.feedback-buttons
				= f.radio_button :category, "comment", class: 'feedback-radio'
				%span comment

		= f.text_area :content, placeholder: 'Add a description', class: 'text-box'

		.bottom
			.wrapper
				.cancel.button 
					%span cancel
				.submit.button 
					%span submit
					.submit-wrapper= f.submit 'Submit', onclick: 'showFormSpin(this)', class: 'overlay'

:javascript
	$(document).ready(function() {
		attachEmailCheck($('#feedback-form .email-check'));
		
		$('#feedback-form .problem-list .problem-button').click(function() {
			if(!$(this).hasClass('checked')) {
				$('#feedback-form .problem-list .problem-button.checked input').removeAttr('checked');
				$('#feedback-form .problem-list .problem-button').removeClass('checked');
				
				$(this).toggleClass('checked');
				$(this).find('input').attr('checked', 'checked');
			}
			else {
				console.log('staaaaaaahp!');
			}

		});
		
		$('#feedback-form .bottom .cancel.button').click(function() {
			$('.modal#feedback-board').hide();
		});
	});
