.signup-wrapper
	.bg-title forgot your password?

	.user-registration
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
			
			.form-inputs.passwords
				= f.email_field :email, autofocus: true, placeholder: "eMail"
				.caveat
					We’ll send you an email with details on how to reset your password

			.form-submit-button= f.submit "submit"
			.form-options.center= link_to('go back', root_path, class: 'exit-signup')

			= devise_error_messages!