- if Report.where(user_id: @user.id, reportable_id: @song.id).size > 0
	Thank you for reporting this song, we are sleuthing it out!

- else
	- @report = Report.new
	= form_for(@report, remote: true, url: send_report_path) do |f|
		= f.hidden_field :user_id, value: @user.id
		= f.hidden_field :reportable_type, value: 'Song'
		= f.hidden_field :reportable_id, value: @song.id

		= f.radio_button :title, "not_a_song"
		= f.label :title, "Not A Song"
		%br
		= f.radio_button :title, "copyrighted_song"
		= f.label :title, "Copyrighted Song"

		= f.label :content, "Comments"
		= f.text_area :content, placeholder: "Please explain"

		= f.submit "Submit", onclick: "return checkReport($(this).parent('form'))"

:javascript
	function checkReport(form) {
		flag = false;
		form.children('input[name="report[title]"]').each(function() {
			if(this.checked) {	flag = true;	}
		});
		if(!flag) {	alert('Gotta check somethin!');	}
		else{
			form.submit();
		}
		return false;
	}
