.report-form

	- if Report.where(user_id: @user.id, reportable_id: @song.id).size > 0
		.title
			Thank you for reporting this song, we are sleuthing it out!

	- else

		.title
			what's the problem?

		- @report = Report.new
		= form_for(@report, remote: true, url: send_report_path) do |f|
			= f.hidden_field :user_id, value: @user.id
			= f.hidden_field :reportable_type, value: 'Song'
			= f.hidden_field :reportable_id, value: @song.id

			.problem-list
				.problem-button.report-buttons.checked
					= f.radio_button :title, "not_a_song", {checked: true}
					%span not a song
				
				.problem-button.report-buttons
					= f.radio_button :title, "copyrighted_song"
					%span copyrighted

			= f.text_area :content, placeholder: "Add a comment...", rows: 3

			.problem-submit
				= f.submit "Submit", class: 'report-buttons submit-report'

	:javascript

		$('.report-form .problem-list .problem-button').click(function() {
			var radioInput = $(this).children('input[type=radio]')[0];
			if(!radioInput.checked) {
				$(this).children('input[type=radio]')[0].checked = true;
				$(this).toggleClass('checked');
				$(this).siblings('.problem-button').toggleClass('checked');
				console.log('so that is your problem');
			}
		});