.sm-social
	.social-icon.twitter
		%a.filled-link{href: "https://www.twitter.com/soundmelon", target: '_blank'}
	.social-icon.facebook
		%a.filled-link{href: "https://www.facebook.com/soundmelon", target: '_blank'}

.vertical-divider

.menu
	- if user_signed_in?
		// footer for signed in users
		- if current_user.terms
			= render 'users/music_footer'

		.link-box.menu-hover
			.link-icon.invites-icon
			%span.label.modal-link Invite Friends
			= link_to "", user_invites_path, remote: true, "data-modal" => 'user-invites', id: 'invite-page-link', class: 'modal-link filled-link'
		
		.link-box.menu-hover
			.link-icon.feedback-icon
			%span.label.modal-link Feedback
			= link_to "", feedback_form_path, remote: true, "data-modal" => 'feedback-board', id: 'feedback-link', class: 'filled-link modal-link'
		
		.link-box.menu-hover
			.link-icon.settings-icon
			/%span.label.modal-link Settings
			- full_name = current_user.first_name
			%span.label.modal-link= full_name
			%a.filled-link#edit-page.modal-link{"data-modal" => 'user-edit'}

	- elsif params[:controller] == 'songs'
		// footer for guest user viewing shared items
		.link-box.menu-hover.guest-link-box#sign-in
			.link-icon.facebook-connect
			%span.label.modal-link Connect with Facebook
			= link_to('', user_omniauth_authorize_path(:facebook, song_conversion: true), remote: false, class: 'filled-link')
			- session["song_conversion"] = 'yes'

		.link-box.menu-hover.guest-link-box
			.link-icon.signup-icon
			%span.label.modal-link Sign Up with eMail
			= link_to "", new_user_registration_path, class: 'filled-link'
		
	.link-box.menu-hover.visible-box
		.link-icon.about-icon
		%span.label.modal-link Learn More
		= link_to "", "http://about.soundmelon.com", target: '_blank', class: 'filled-link'