.menu
	- if signed_in?
		- if current_user.terms
			= render 'users/music_footer'
		
		%span= link_to "Feedback", feedback_form_path, remote: true, "data-modal" => 'feedback-board', id: 'feedback-link', class: 'modal-link'
		
		%span
			%a.hover-link#edit-page.modal-link{"data-modal" => 'user-edit'} Settings
		
		%span= link_to "Invite Friends", user_invites_path, remote: true, "data-modal" => 'user-invites', id: 'invite-page-link', class: 'modal-link'
		
		/%span#learn-more= link_to "About", "http://about.soundmelon.com", target: '_blank', class: 'hover-link'

		%span= link_to("Logout", signout_path, class: 'hover-link')
		
	- else
		%span Find your tune.
		%span#learn-more= link_to "Learn more!", "http://about.soundmelon.com", target: '_blank', class: 'hover-link'