.logo
	= image_tag('core/footer_logo.png')
.right
	%small		
		.menu
			- if signed_in?
				- if current_user.terms
					= render 'users/music_footer'
				
				%span= link_to "Feedback", feedback_form_path, remote: true, id: 'feedback-link'
				
				%span
					%a.hover-link#edit-page Settings
				
				%span= link_to "Invite Friends", user_invites_path, remote: true, id: 'invite-page-link'
				
				%span= link_to("Logout", signout_path)
				
			- else
				Find your tune.
				%a.hover-link#learn-more Learn more
			
		.modal-boxes
			
			.modal#music-add
			
			.modal#music-admin
				.spinner
				#artist-media
				
			.modal#artist-profile
				.spinner
				#profile-section

			.modal#user-edit
				.spinner
				#user-settings
					= render "users/settings"
					
			.modal#user-invites



	.modal#more-info
		Phasellus luctus malesuada velit, eu pellentesque eros imperdiet a. Donec in sagittis dolor. Proin pretium magna ac lectus pretium, non viverra dolor sagittis. Ut sit amet mauris a massa lacinia porta. Cras tristique urna ipsum. Aenean vehicula condimentum laoreet.

:javascript
	function smartModal(modal, content) {
		//Ajax load into modal if content is not available. modal, content are ids.
		var modalId = '#' + modal;
		var contentId = '#' + content;
		$(modalId).toggle();
		return ( (document.getElementById(modal).style.display == 'none') || ($(modalId + ' ' + contentId).length > 0) )
	}

	$('#feedback-link').click(function() {
		if(smartModal('feedback-board', 'feedback-form')) {
			return false
		}
		else {
			$('#feedback-board .spinner').show();
		}
	});
	
	$('#invite-page-link').click(function() {
		if(smartModal('user-invites', 'invites-page')) {
			return false
		}
		else {
			console.log('yo wait up');
		}
	});

	$('#learn-more').click(function() {
		$('#more-info').toggle();
	});

	$('#artist-show').click(function() {
		if(smartModal('music-admin', 'available-uploads')) {
			console.log('available-uploads');
			return false;
		}
		else {
			$('#music-admin .spinner').show();
		}
	});
	
	$('#artist-profile-edit').click(function() {
		if(smartModal('artist-profile', 'artist-profile-form')) {
			console.log('not loading');
			return false;
		}
		else {
			console.log('loading...');
		}
	});

	$('#edit-page').click(function() {
		$('#user-edit').toggle();
	});

	$('document').ready(function() {
		//Add AJAX-loaders
		$(document).ajaxStop(function() {
			$('.spinner').hide();		
		});

		$(document).mouseup(function(e) {
			var container = $('.modal');
			if(!container.is(e.target) && container.has(e.target).length == 0) {
				container.hide();
			}
		});

		var fromCallback = '#{flash[:music_account_callback].to_s}';
		if(fromCallback === 'true') {
			$('.add-content').click();
		}

	});
