.logo
	= image_tag('core/footer_logo.png')
.right
	%small		
		- if signed_in?
			- if current_user.terms
				= render 'users/music_footer'
			
			= link_to "Feedback", feedback_form_path, remote: true, id: 'feedback-link'
			
			%a.hover-link#edit-page Settings
			
			= link_to "Invite Friends", user_invites_path, remote: true, id: 'invite-page-link'
			
			#sign-out= link_to("Logout", signout_path)

		- else
			Find your tune.
			%a.hover-link#learn-more Learn more
			= #link_to('SO WHY NOT REGISTER?', signup_path, remote: true)

	.modal#more-info
		Phasellus luctus malesuada velit, eu pellentesque eros imperdiet a. Donec in sagittis dolor. Proin pretium magna ac lectus pretium, non viverra dolor sagittis. Ut sit amet mauris a massa lacinia porta. Cras tristique urna ipsum. Aenean vehicula condimentum laoreet.

:javascript
	function smartModal(modal, content) {
		//Ajax load into modal if content is not available. modal, content are ids.
		var modalId = '#' + modal;
		var contentId = '#' + content;
		$(modalId).toggle();
		return ( (document.getElementById(modal).style.display == 'none') || ($(modalId + ' ' + contentId).length > 0) )
	}

	$('#feedback-link').click(function() {
		if(smartModal('feedback-board', 'feedback-form')) {
			return false
		}
		else {
			$('#feedback-board .spinner').show();
		}
	});
	
	$('#invite-page-link').click(function() {
		if(smartModal('user-invites', 'invites-page')) {
			return false
		}
		else {
			console.log('yo wait up');
		}
	});

	$('#learn-more').click(function() {
		$('#more-info').toggle();
	});

	$('.add-content').click(function() {
		var currentView;
		if(this.id === 'artist-show') {
			currentView = 'available-uploads';
		}
		else if(this.id === 'artist-profile-edit') {
			currentView = 'artist-profile-form';
		}
		if(smartModal('user-add', currentView)) {
			console.log(currentView);
			return false;
		}
		else {
			$('.user-add .spinner').show();
		}
	});

	$('#edit-page').click(function() {
		$('#user-edit').toggle();
	});

	$('document').ready(function() {
		//Add AJAX-loaders
		$(document).ajaxStop(function() {
			$('.spinner').hide();		
		});

		$(document).mouseup(function(e) {
			var container = $('.modal');
			if(!container.is(e.target) && container.has(e.target).length == 0) {
				container.hide();
			}
		});

		var fromCallback = '#{flash[:music_account_callback].to_s}';
		if(fromCallback === 'true') {
			$('#add-content').click();
		}

	});
