.logo
	= image_tag('core/footer_logo.png')
.right 
	%small
		Copyright 2013 SoundMelon Inc.
	.icons
		.icon-32#facebook-icon{href: "#"}
		.icon-32#twitter-icon{href: "#"}
		.icon-32#linkedin-icon{href: "#"}
	%small
		- if signed_in?
			Hello #{current_user.first_name + ' ' + current_user.last_name}!
			- if current_user.terms
				= !current_user.is_artist? ? link_to("Music +" , add_media_account_path, remote: true, class: 'hover-link', id: 'add-content') : link_to("Music" , artist_show_path, remote: true, class: 'hover-link', id: 'add-content')
			%a.hover-link#edit-page Settings

		- else
			Find your tune.
			%a.hover-link#learn-more Learn more
			= #link_to('SO WHY NOT REGISTER?', signup_path, remote: true)

	.modal#more-info
		Phasellus luctus malesuada velit, eu pellentesque eros imperdiet a. Donec in sagittis dolor. Proin pretium magna ac lectus pretium, non viverra dolor sagittis. Ut sit amet mauris a massa lacinia porta. Cras tristique urna ipsum. Aenean vehicula condimentum laoreet.

:javascript
	$('#learn-more').click(function() {
		$('#more-info').toggle();
	});

	$('#add-content').click(function() {
		$('#user-add').toggle();
		console.log(document.getElementById('user-add').style.display)
		if( (document.getElementById('user-add').style.display == 'none') || ($('#user-add #available-uploads').length > 0) ) {
			return false;
		}
		else {
			$('#user-add .spinner').show();
		}
	});

	$('#edit-page').click(function() {
		console.log('edit user')
		$('#user-edit').toggle();
	});

	$('document').ready(function() {
		//Add AJAX-loaders
		$(document).ajaxStop(function() {
			$('.spinner').hide();		
		});

		$(document).mouseup(function(e) {
			var container = $('.modal');
			if(!container.is(e.target) && container.has(e.target).length == 0) {
				container.hide();
			}
		});

		var fromCallback = '#{flash[:music_account_callback].to_s}';
		if(fromCallback === 'true') {
			$('#add-content').click();
		}

	});
