!!!
%html

	%head
		%title SoundMelon Radio
		= favicon_link_tag "/assets/favicon.png"
		= javascript_include_tag "application"
		= stylesheet_link_tag "application", media: "all"
		= csrf_meta_tags
		= render 'layouts/ga'
		= render 'layouts/twitter'

	%body
		.splash-bg
		.bg-wrapper

		.wrapper
			#page-content

				.main_page_div
					= yield
				.login-spinner.spinner
		.footer
			= render 'layouts/footer'

		= render 'layouts/flash_board'

:javascript
	//deal with IE for CSS
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);

	emailReg = /^[\w+\-.]+@[a-z\d\-.]+\.[a-z]{2,4}$/i;

	function showFormSpin(item) {
		$(item).parent('form').children('.spinner').show();
	}

	function attachEmailCheck(item) {
		//Attaches an email regex check event where item is a jQuery email input field
		item.typing({
			stop: function(event, elem) {
				elem.parent('form').children('.tick-mark').hide();
				if(!emailReg.test(elem.val())) {
					elem.parent('form').children('.x-mark').show();
				}
				else {
					elem.parent('form').children('.check-mark').show();
				}
			},
			delay: 200
		});
	}