!!!
%html
	
	%head
		%title= yield(:title)
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application", "rails.validations"
		= csrf_meta_tags
	%body
		.bg-wrapper
			= image_tag('core/background.jpg', :class => 'bg-img', :style => "width: 100%")
		.wrapper
			.main-content
				.main_page_div
					= yield
		.footer
			= render 'layouts/footer'