!!!
%html

	%head
		%title= yield(:title)
		= javascript_include_tag "application", "jquery.tagsinput.min", "jquery.typing-0.2.0.min"
		= stylesheet_link_tag "application", media: "all"
		= csrf_meta_tags
	%body
		.bg-wrapper
			= image_tag('core/background.jpg', :class => 'bg-img', :style => "width: 100%")
		.wrapper
			.main-content
			
				#flash-board

				.modal#feedback-board
					.spinner
					#feedback-new

				.main_page_div
					= yield
		.footer
			= render 'layouts/footer'

:javascript
	//deal with IE for CSS
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);

	emailReg = /^[\w+\-.]+@[a-z\d\-.]+\.[a-z]{2,4}$/i;

	function showFormSpin(item) {
		$(item).parent('form').children('.spinner').show();
	}

	function attachEmailCheck(item) {
		//Attaches an email regex check event where item is a jQuery email input field
		item.typing({
			stop: function(event, elem) {
				elem.parent('form').children('.tick-mark').hide();
				if(!emailReg.test(elem.val())) {
					elem.parent('form').children('.x-mark').show();
				}
				else {
					elem.parent('form').children('.check-mark').show();
				}
			},
			delay: 200
		});
	}