!!!
%html
	
	%head
		%title= yield(:title)
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application", "rails.validations"
		
		= csrf_meta_tags

	%body
		.wrapper
			.main-content
				.main_page_div
					= yield
			.push
		.footer			
			= render 'layouts/footer'
