!!!
%html

	%head
		%title SoundMelon Radio
		= favicon_link_tag "/assets/favicon.png"
		%meta{name: "viewport", content: "initial-scale=1, maximum-scale=1"}
		%link{rel: "apple-touch-icon", href: "/assets/apple-icon.jpg"}
		/%meta{name: "apple-mobile-web-app-capable", content: "yes"}
		= javascript_include_tag "application"
		= stylesheet_link_tag "application", media: "all"
		= csrf_meta_tags
		= render 'layouts/ga'
		= render 'layouts/twitter'

	%body
		.splash-bg
		.bg-wrapper

		.wrapper
			#page-content

				.main_page_div
					= yield
				.login-spinner.spinner
		.footer
			= render 'layouts/footer'

		= render 'layouts/flash_board'

:javascript
	$('#fb-root').remove();
	$('body').prepend('<div id="fb-root"></div>');
	inviteToken = '#{@invite_token}'
	console.log(inviteToken);

	//deal with IE for CSS
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);

	emailReg = /^[\w+\-.]+@[a-z\d\-.]+\.[a-z]{2,4}$/i;

	function showFormSpin(item) {
		$(item).parent('form').children('.spinner').show();
	}

	function attachEmailCheck(item) {
		//Attaches an email regex check event where item is a jQuery email input field
		item.typing({
			stop: function(event, elem) {
				elem.parent('form').children('.tick-mark').hide();
				if(!emailReg.test(elem.val())) {
					elem.parent('form').children('.x-mark').show();
				}
				else {
					elem.parent('form').children('.check-mark').show();
				}
			},
			delay: 200
		});
	}

	$.ajax({
		url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		dataType: 'script',
		cache: true
	});

	var FBargs;
	window.fbAsyncInit = function() {
		$('#sign-in').click(function(e) {
		  e.preventDefault();
		  FB.login(function(response) {
		  	if(response.status === "unknown") {

		  	}
				console.log(response);
		    if (response.authResponse) {
					$.ajax({
						url: '#{user_omniauth_callback_path(:facebook)}',
						data: {state: inviteToken}
					});
		    }
		  }, {scope: 'email,user_likes'});
		});
		FBargs = {
		  appId: '#{ENV["FACEBOOK_APP_ID"]}',
			status: true,
		  cookie: true
		}
		FB.init(FBargs);
	};