.active-toggle
	%label= f.check_box(:active, class: 'ios-switch')

- source_tags = source_tags.nil? ? [] : source_tags
= label(:source_tags, "Source Tags")
.source-tags= f.text_field :source_tags, value: source_tags.join(', ')
= link_to 'Refresh tags', get_source_tags_path(song_id: song_id, artist_id: current_artist.id, source: source), remote: true

- sm_tags = sm_tags.nil? ? [] : sm_tags
= label(:sm_tags, "SM Tags")
.sm-tags= f.text_field :sm_tags, value: sm_tags.join(', '), placeholder: "Add some genre tags for this song..."

:javascript
	// Add divs for toggle switches
	var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');

	for (var i=0, sw; sw = switches[i++]; ) {
		var div = document.createElement('div');
		div.className = 'switch';
		sw.parentNode.insertBefore(div, sw.nextSibling);
	}
