- @artist = current_artist
- if song_private
	.private
		We can't stream private songs! Would you like to make this song public on #{upload_source}?
		= link_to "Make Public!", make_public_path(song_id: song_id, upload_source: upload_source, artist_id: @artist.id), remote: true, class: 'make-public', onclick: "$(this).siblings('.spinner').show()"
		.spinner

.song-form
	- @artist_upload = ArtistUpload.new
	= form_for(@artist_upload, remote: true) do |f|
		= render 'artist_uploads/upload_form', {f: f, active: @artist_upload.active, keywords: @artist_upload.keywords}
		= f.hidden_field :artist_id, value: @artist.id
		= f.hidden_field :song_id, value: song_id
		= f.hidden_field :upload_source, value: upload_source
		= f.hidden_field :song_url, value: song_url

